<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuva Conclave 2024 - About</title>
    <link rel="stylesheet" href="{{ "/assets/css/about.css" | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ "/" | relative_url }}">Home</a></li>
        <li><a href="{{ "/about" | relative_url }}">About</a></li>
        <li><a href="{{ "/agenda" | relative_url }}">Agenda</a></li>
        <li class="dropdown">
          <a href="{{ "/speakers" | relative_url }}" class="dropbtn">Speakers</a>
          <ul class="dropdown-content">
            <li><a href="{{ "/speakers/keynote" | relative_url }}">Keynote Speakers</a></li>
            <li><a href="{{ "/speakers/panalist" | relative_url }}">Panelist</a></li>
            <li><a href="{{ "/speaker/guestspaeker" | relative_url }}">Guest</a></li>
            <li><a href="{{ "/speaker/comedian" | relative_url }}">Comedian</a></li>
          </ul>
        </li>
        <li><a href="{{ "/venue" | relative_url }}">Venue</a></li>
        <li><a href="https://www.thebrewery.co.in/event-details/yi-youth-conclave-laughter-to-leadership">Registration</a></li>
        <li><a href="{{ "/contact" | relative_url }}">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  <!-- Rest of your content -->
</body>
</html>