<header>
  <nav>
    <ul>
      <li><a href="{{ "/" | relative_url }}">Home</a></li>
      <li><a href="{{ "/about" | relative_url }}">About</a></li>
      <li><a href="{{ "/agenda" | relative_url }}">Agenda</a></li>
      <li><a href="{{ "/speakers" | relative_url }}">Speakers</a></li>
      <li><a href="{{ "/venue" | relative_url }}">Venue</a></li>
      <li><a href="{{ "/registration" | relative_url }}">Registration</a></li>
      <li><a href="{{ "/contact" | relative_url }}">Contact Us</a></li>
    </ul>
  </nav>
</header>
