<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speakers at Yuva Conclave 2024</title>
    <link rel="stylesheet" href='/assets/css/speaker.css'>
</head>
<body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ "/" | relative_url }}">Home</a></li>
          <li><a href="{{ "/about" | relative_url }}">About</a></li>
          <li><a href="{{ "/agenda" | relative_url }}">Agenda</a></li>
          <li class="dropdown">
            <a href="#" class="dropbtn">Speakers</a>
            <ul class="dropdown-content">
              <li><a href="#juswin">Jus Win Singh</a></li>
              <li><a href="#sheetalnair">Dr. Sheetal Nair</a></li>
              <li><a href="#ishika">Ishika Thite</a></li>
              <li><a href="#nazish">Dr. Nazish Campwala</a></li>
              <li><a href="#zeel">Zeel Shah</a></li>
              <li><a href="#katha">Katha Patel</a></li>
              <li><a href="#rjjiah">RJ Jiah</a></li>
              <li><a href="#om">Om Bhatt</a></li>
            </ul>
          </li>
          <li><a href="{{ "/venue" | relative_url }}">Venue</a></li>
          <li><a href="https://www.thebrewery.co.in/event-details/yi-youth-conclave-laughter-to-leadership">Registration</a></li>
          <li><a href="{{ "/contact" | relative_url }}">Contact Us</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Speakers at Yuva Conclave 2024</h1>
      <div class="slides">
        <section id="juswin">
            <img src="/assets/images/Jus Win Singh.png" alt="Jus Win Singh">
            <h2>Jus Win Singh</h2>
            <p><strong>Founder of The Institute of Happiness</strong></p>
            <p><strong>Keynote Session: Happiness and Well-being</strong></p>
            <ul>
                <li><strong>Time:</strong> 03:00 PM - 03:30 PM</li>
                <li><strong>Topic:</strong> "TO DO EVERYTHING IN OUR POWER TO MAKE THIS A HAPPIER WORLD!"</li>
            </ul>
            <p>Jus Win Singh is the founder of The Institute of Happiness. He is dedicated to promoting happiness and well-being through various initiatives and programs. His keynote session will focus on the importance of happiness and how we can contribute to making the world a happier place.</p>
        </section>

        <section id="sheetalnair">
            <img src="/assets/images/Sheetal Nair.png" alt="Dr. Sheetal Nair">
            <h2>Dr. Sheetal Nair</h2>
            <p><strong>Moderator for Panel Discussion: Career Development Transitions</strong></p>
            <p><strong>Panel Discussion: Career Development Transitions</strong></p>
            <ul>
                <li><strong>Time:</strong> 03:30 PM - 04:30 PM</li>
            </ul>
            <p>Dr. Sheetal Nair will moderate the panel discussion on career development transitions. With extensive experience in career counseling and development, Dr. Nair will guide the discussion to provide valuable insights and advice for attendees.</p>
        </section>

        <section id="ishika">
            <img src="/assets/images/Ishika 1.png" alt="Ishika Thite">
            <h2>Ishika Thite</h2>
            <p>A renowned figure in combat sports, Ishika Thite has won numerous gold and silver medals in state and national tournaments. She is Gujarat's first professional MMA fighter, competing in Matrix Fight Night. A TEDx motivational speaker, she also runs The Dojo gym, training people in self-defense, fitness, and MMA.</p>
        </section>

        <section id="nazish">
            <img src="/assets/images/Dr-Nazish.png" alt="Dr. Nazish Campwala">
            <h2>Dr. Nazish Campwala</h2>
            <p>With a Master's and PhD in Social Work, Dr. Campwala has a decade of experience in academics and research in the development sector. Her expertise includes project management, capacity building, CSR, and community organization. Currently a consultant at Genpact, she specializes in monitoring and evaluation using Lean Six Sigma and Design Thinking.</p>
        </section>

        <section id="zeel">
            <img src="/assets/images/Zeel Shah.png" alt="Zeel Shah">
            <h2>Zeel Shah</h2>
            <p>An accomplished advocate and social worker, Zeel Shah is the Founder & President of Sahaay Foundation. She has established two slum schools and initiated a vocational training institute empowering 100 women annually. Zeel is dedicated to legal advocacy, community development, and education.</p>
        </section>

        <section id="katha">
            <img src="/assets/images/Katha Patel.png" alt="Katha Patel">
            <h2>Katha Patel</h2>
            <p>Katha Patel is an actress/model working in the industry for over a decade. She was one of the six finalists from Gujarat for Miss Universe India 2016. She got her acting break in 2020 with the Gujarati film Swagatam paired opposite Malhar Thakar. She has done three movies post Swagatam as a female lead, namely Dhaman, S2G2, and Satrangi Re. By education, she has completed her post-graduation in Fashion Retail & Merchandise. She is also a reiki master and an entrepreneur, having established a contemporary jewelry brand named Ratn Katha.</p>
        </section>

        <section id="rjjiah">
            <img src="/assets/images/RJ Jiah.png" alt="RJ Jiah">
            <h2>RJ Jiah</h2>
            <p>A prominent voice in Vadodara as the Khidki Wali RJ on Radio City 91.1. For the past 18 years, Jiah has cultivated a dedicated listener base with her engaging presence and creative storytelling. She is also a designer, a candle artist, a brand strategist, and a content creator, blending creativity with strategic insight to make a meaningful impact. She hosts the Khayalon Wali Khidki series, featuring influential guests like Prajakta Kohli, Pratik Gandhi, and Monk Gaur Gopal Das, with over 11 million views and exceptional engagement on social media platforms.</p>
        </section>

        <section id="om">
            <img src="/assets/images/Om Bhatt.png" alt="Om Bhatt">
            <h2>Om Bhatt</h2>
            <p>Actor • Screenplay • Writer • Dialogue Writer. A well-known comedian and actor, Om Bhatt has been a part of and hosted various open mics. The 2018 movie, Back Bencher, marks his debut on the silver screen. Directed by Kirtan Patel, it stars Krish Chauhan, Ami Trivedi, and Dharmendra Gohil in pivotal roles. His 2019 release includes Bijjo Divas.</p>
        </section>
      </div>
    </main>
    <footer>
        <p>&copy; © 2024 Young Indians Vadodara. All rights reserved.</p>
    </footer>
</body>
</html>
